@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@font-face {
    font-family: 'Nerkoone';
    src: url(../fontes/NerkoOne-Regular.ttf) format(truetype);
    font-weight: 400;
}

:root {
    --cor0: #c6f6ff;
    --cor1: #5CCFE6;
    --cor2: #00BBE0;
    --cor3: #0090AD;
    --cor4: #246e7c;
    --cor5: #005161;

    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-destaque: 'Anton', sans-serif;
    --fonte-titulos: 'Nerkoone', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content: '\1f517';
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    padding-top: 40px;
    text-align: center;
}

header > h1 {
    font-family: var(--fonte-destaque);
    font-size: 2.5em;
    color: #fff;
    font-weight: lighter;
    margin-bottom: 20px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.555);
}

header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: #fff;
    max-width: 600px;
    margin: auto;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.418);
    padding: 0px 10px 0px 10px;
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.363);
}

nav > a {
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition-duration: 0.5s;
    border-radius: 5px;
}

nav > a:hover {
    background-color: var(--cor2);
    color: var(--cor5);
}

main {
    background-color: #fff;
    max-width: 1000px;
    min-height: 300px;
    margin: auto;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.479);
}

main h1 {
    font-family: var(--fonte-titulos);
    font-size: 2.5em;
    font-weight: normal;
    color: var(--cor5);
}

main h2 {
    font-family: var(--fonte-titulos);
    color: var(--cor5);
    font-weight: normal;
    font-size: 1.8em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 20px;
    border-radius: 10px  0px 0px 10px;
}

main p {
    margin: 15px 0px;
    font-size: 1.055em;
    line-height: 2em;
    text-indent: 20px;
    text-align: justify;
}

main strong {
    color: var(--cor4);
    font-weight: bolder;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    margin: auto;
    display: block;
}

div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.6%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor2);
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.39);
}

aside h3 {
    color: #fff;
    background-color: var(--cor4);
    margin: -10px -10px 0px -10px;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
}

aside ul {
    list-style-position: inside;
    columns: 2;
    list-style-type: '\2714\00a0';
}

footer {
    background-color: var(--cor5);
    padding: 5px;
    color: #fff;
    text-align: center;
    font-size: 0.8em;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}
